# VisionGuard - Requirements
# Install all: pip install -r requirements.txt

ultralytics>=8.0.0
opencv-python>=4.10.0
easyocr>=1.7.0
pyttsx3>=2.90
pywin32>=311
paddleocr>=3.4.0
paddlepaddle>=3.3.0
gtts>=2.3.0
pygame>=2.6.0
plyer>=2.1.0
numpy>=1.26.0
pillow>=9.0.0
